@media screen and (min-width: 200px) {
  p {
    background-color: black;
    color: red;
  }

  .font-size-S {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 11px;
  }

  .font-size-M {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 15px;
  }

  .font-size-L {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 30px;
  }

}

@media screen and (min-width: 768px) {
  p {
    background-color: black;
    color: green;
  }

  .font-size-S {
    color: #fff;
    font-family: Inter, sans-serif;
    margin-top: 18px;
    font-size: 11px;
  }

  .font-size-M {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 32px;
  }

  .font-size-L {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 64px;
  }

}

@media screen and (min-width: 1024px) {
  p {
    background-color: black;
    color: white;
  }

  .font-size-S {
    color: #fff;
    font-family: Inter, sans-serif;
    margin-top: 18px;
    font-size: 20px;
  }

  .font-size-M {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 32px;
  }

  .font-size-L {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 64px;
  }

}

.div {
  display: flex;
  padding-bottom: 49px;
  flex-direction: column;
  align-items: end;
}

.div-2 {
  z-index: 10;
  display: flex;
  width: 450px;
  max-width: 100%;
  flex-direction: row;
}

.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  max-width: 100%;
}

.img-2 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  max-width: 100%;
}

.img-3 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  max-width: 100%;
}

.div-3 {
  align-self: start;
  display: flex;
  max-width: 100%;
  gap: 20px;
  padding: 0 20px;
}

.div-4 {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}

.div-5 {
  align-self: stretch;
}

.div-6 {
  gap: 20px;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 56%;
  margin-left: 0px;
}

.img-4 {
  aspect-ratio: 0.98;
  object-fit: auto;
  object-position: center;
  width: 100%;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 44%;
  margin-left: 20px;
}

.div-7 {
  color: #fff;
  font: 400 24px Inter, sans-serif;
}

.div-8 {
  color: #fff;
  text-align: center;
  font: 400 32px Inter, sans-serif;
}

.div-9 {
  color: #fff;
  text-align: center;
  font: 400 64px Inter, sans-serif;
}

.div-10 {
  color: black;
  background-color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  font: 400 24px Inter, sans-serif;
}

.div-11 {
  z-index: 10;
  display: flex;
  width: 450px;
  max-width: 100%;
  flex-direction: column;
}

.div-12 {
  gap: 20px;
  display: flex;
}

.img-5 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  max-width: 100%;
}

.img-6 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  max-width: 100%;
}

.img-7 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  max-width: 100%;
}

.img-8 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  max-width: 100%;
}

.img-9 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  max-width: 100%;
}

.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}
.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}
.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}
.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}
.column-10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}
.column-11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}
.column-12 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
}
.column-13 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 30%;
}

.column-14 {
  display: flex;
  flex-direction: row;
  line-height: normal;
  width: 100%;
}
